body{
    height:100vh;
    background-image: linear-gradient(rgb(255,255,255),rgb(92,100,221));
}
.logo{
    display:block;
    margin:auto;
    width:70px;
    height:50px;
}
h1{
    margin-top: 12px;
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}
.container{
    max-width: 955px;
    border:2px solid black;
    margin:auto;
    height:53vh;
    padding:33px;
    overflow-y:auto;
    margin-bottom: 23px;
    border-radius: 13px;
}
.message{
    background-color: rgb(240, 228, 228);
    width:24%;
    padding:10px;
    margin:17px 12px;
    border:2px solid black;
    border-radius: 10px;
}
.left{
    float: left;
    clear: both;
}
.right{
    float:right;
    clear:both;
}
#send-container{
    display:block;
    margin:auto;
    text-align: center;
    max-width: 1085px;
    width:100%;
    display:flex;
    justify-content: center;
    align-items: center;
}
#messageInp{
    width:80%;
    border:2px solid black;
    border-radius: 6px;
    height:34px;
    font-size: 22px;
}
.btn{
    width:9%;
    cursor:pointer;
    border:2px solid black;
    border-radius: 6px;
    height:34px;
    margin:0 5px;
}
